{{!-- This file inherits the main layout --}}
<!-- Container
	================================================== -->
	<div class="container">
		<div class="main-content">
			<!-- Featured
											================================================== -->
			<!-- Posts Index
										================================================== -->
				<section class="recent-posts row"> <div class="col-sm-4">
					<div class="sidebar">
						
					</div>
				</div>
				<div class="col-sm-8">
					<div class="">
						<h2>
							All Stories
						</h2>
					</div>
					<div class="row mb-5 listrecent">
						<!-- begin post -->
						
						<!-- end post -->
						
					</div>
					<!-- Pagination -->
					<div class="bottompagination">
						<div class="navigation">
							<nav class="pagination" id="pagination">
								<span class="page-number"> &nbsp; &nbsp; Page 1 of 1 &nbsp; &nbsp; </span>
							</nav>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>

	<div class="main-news mt-5">
		<div class="container">
			<div class="row">
				<div class="col-lg-9">
					<div class="row" id="main-news">
						
					</div>
				</div>

				<div class="col-lg-3">
					<div class="mn-list">
						<h2>Read More</h2>
						<ul class="read-more">
							
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /.container -->