
<div class="container">
	<div class="main-content">

		<div class="row">
			<!-- Sidebar -->
			<div class="col-sm-4">
				<div class="hb-ad-inarticle">
					<div class="hb-ad-inner"> 
					<div class="hbagency_cls"  id="hbagency_space_152747"></div></div> </div>
				{{> sidebar}}
				<div class="hb-ad-inarticle">
					<div class="hb-ad-inner"> 
					<div class="hbagency_cls"  id="hbagency_space_152742"></div></div> </div>
			</div>
			<!-- Post -->
			<div class="col-sm-8">
				<div
					class="mainheading">
					<!-- Post Categories -->
					<div class="after-post-tags">
						<ul class="tags">
							{{#each singlePost.tag}}
							<li>
								<a href="/tag/{{this.id}}">{{this.name}}</a>
							</li>
							{{/each}}
						</ul>
					</div>
					<!-- End Categories -->
					<!-- Post Title -->
					<h1 class="posttitle">
						{{singlePost.title}}
					</h1>
				</div>
				<!-- Post Featured Image -->
				<div id="postimage">
					<img class="featured-image img-fluid" src="{{singlePost.image}}" alt="{{singlePost.title}}">
				</div>
				<div id='hbagency_space_152748'></div>
				<!-- End Featured Image -->
				<!-- Post Content -->
				<div class="article-post">{{{singlePost.body}}}</div>

				<div class="hb-ad-inpage">
					<div class="hb-ad-inner"> 
					<div class="hbagency_cls hbagency_space_152749"></div></div> </div>

				<div class="main-news mt-5">
					<div class="container">
						<div class="section-title">
							<h2><span>Related Post</span></h2>
						</div>
						<div class="row">
							<div class="col">
								<div class="row" id="main-news">
									{{#each singlePost.related_posts}}
									<div class="col-md-4">
										<div class="mn-img">
											<img src="{{this.image}}"><!--{{../endpoint}}-->
											<div class="mn-title">
												<a href="/blog/{{this.slug}}" class="locate-data">{{truncate this.title 5}}</a>
											</div>
										</div>
									</div>	
									{{/each}}				
								</div>
							</div>
		
						</div>
					</div>
				</div>
				<!-- Begin Comments
				===============================================-->
				<section>
				<div id="comments">
					<section class="disqus">
						<div id="disqus_thread"></div>
						<script>
							/**
							*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
							*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */
							/**/
							let disqus_config = function () {
								this.page.url = window.location.href;  // Replace PAGE_URL with your page's canonical URL variable
								this.page.identifier = window.location.href; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
							};
							
							(function() { // DON'T EDIT BELOW THIS LINE
							let d = document, s = d.createElement('script');
							s.src = 'https://pixtinfinity-com.disqus.com/embed.js';
							s.setAttribute('data-timestamp', +new Date());
							(d.head || d.body).appendChild(s);
							})();
						</script>
						<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>                        
					</section>
				</div>
				</section>
											
			</div>
			<!-- End Post -->
		</div>
	
	</div>
</div>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-CJNWYEMMWG"></script>
<script>
	setTimeout(() => {
		hljs.highlightAll();
	}, 3000)
</script>
<script>
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());

	gtag('config', 'G-CJNWYEMMWG');
</script>
