<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="description" content="Transforming Ideas into Immersive Experiences through Innovative Programming">
		<meta name="keywords" content="pixtinifinty, pixet, pixt, infinity, about, blog">
		<meta
		name="author" content="pixtinifinty">
		<!--socail share-->
		<meta property="og:title" content="Pixtinfinity- Programing Ideas Into Experience" id="ogTitle">
		<meta property="og:description" content="Transforming Ideas into Immersive Experiences through Innovative Programming" id="ogDescription">
		<meta property="og:image" content="https://pixtinfinity.com/assets/images/logo-footer.png" id="ogImage">
		<meta
		property="og:url" content="https://pixtinfinity.com/about" id="ogUrl">

		<!--twitter social share-->
		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:title" content="Pixtinfinity- Programing Ideas Into Experience" id="twitterTitle">
		<meta name="twitter:description" content="Transforming Ideas into Immersive Experiences through Innovative Programming" id="twitterDescription">
		<meta name="twitter:image" content="https://pixtinfinity.com/assets/images/logo-footer.png" id="twitterImage">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="icon" href="assets/images/favicon.ico">
		<title>PIXTINFINITY | CONTACT
		</title>
		<link href="https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap" rel="stylesheet">

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
		<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
		<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

		<link href="assets/css/theme.css" rel="stylesheet">

		<link href="assets/css/style.css" rel="stylesheet">
		<link
		href="assets/css/main.css" rel="stylesheet">
		<!-- Begin tracking codes here, including ShareThis/Analytics -->
		<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>


		<!-- End tracking codes here, including ShareThis/Analytics -->
	</head>
	<body
		class="layout-default">
		<!-- Begin Menu Navigation
		================================================== -->
		<header id="header" class="navbar navbar-toggleable-md navbar-light bg-white fixed-top mediumnavigation"></header>
		<!-- End Menu Navigation
		================================================== -->
		<div class="site-content">
			<div
				class="container">
				<!-- Content (replace with your e-mail address below)
				    ================================================== -->
				<div class="main-content">
					<section>
						<div class="section-title">
							<h2>
								<span>Contact</span>
							</h2>
						</div>
						<div class="article-post">
							<form action="https://formspree.io/wowthemesnet@gmail.com" method="POST">
								<div class="form-group row">
									<div class="col-md-6">
										<input class="form-control" type="text" name="name" placeholder="Name">
									</div>
									<div class="col-md-6">
										<input class="form-control" type="email" name="_replyto" placeholder="E-mail Address">
									</div>
								</div>
								<textarea rows="8" class="form-control mb-3" name="message" placeholder="Message"></textarea>
								<input class="btn btn-success" type="submit" value="Send">
							</form>
						</div>
					</section>
				</div>
			</div>
			<!-- /.container -->

			<!-- Begin Footer
			    ================================================== -->

			<!-- Begin Footer
			    ================================================== --><footer class="footer"> </footer>
			<!-- End Footer
			    ================================================== -->
		</div>

		<!-- Google tag (gtag.js) -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-CJNWYEMMWG"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'G-CJNWYEMMWG');
		</script>


		<!-- JavaScript
		================================================== -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
		<script src="assets/js/ie10-viewport-bug-workaround.js"></script>
		<script src="assets/js/masonry.pkgd.min.js"></script>
		<script src="assets/js/theme.js"></script>

		<script type="module" src="assets/js/app.js"></script>


	</body>
</html>
