<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="description" content="Transforming Ideas into Immersive Experiences through Innovative Programming">
		<meta name="keywords" content="pixtinifinty, pixet, pixt, infinity">
		<meta name="author" content="pixtinifinty">
		<meta property="og:title" content="Pixtinfinity- Programing Ideas Into Experience">
		<meta property="og:description" content="Transforming Ideas into Immersive Experiences through Innovative Programming">
		<meta property="og:image" content="https://pixtinfinity.com/assets/images/logo-footer.png">
		<meta property="og:url" content="https://pixtinfinity.com/">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		
		<!-- Begin tracking codes here, including ShareThis/Analytics -->
		<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
		<!-- End tracking codes here, including ShareThis/Analytics -->
	</head>
	<body class="layout-default">

		<div id="root" class="show-hidden">
			<!-- Begin Menu Navigation
			================================================== -->
			<header id="header" class="navbar navbar-toggleable-md navbar-light bg-white fixed-top mediumnavigation"></header>
			<!-- End Menu Navigation
			================================================== -->
			<div class="site-content">
		
				<section class="container">
					<div>
                        <p>
                            <span style="font-size:16pt">
                                <span style="font-family:Arial,sans-serif">
                                    <span style="color:#000000">
                                        <strong class="h1">Privacy Policy</strong>
                                    </span>
                                </span>
                            </span>
                        </p>
                    
                        <p>&nbsp;</p>
                    
                        <p>
                            <span style="font-size:13.999999999999998pt">
                                <span style="font-family:Arial,sans-serif">
                                    <span style="color:#000000">
                                        <strong>Updated at 2024-01-21</strong>
                                    </span>
                                </span>
                            </span>
                        </p>
                    
                        <p>
                            <span style="font-size:13.999999999999998pt">
                                <span style="font-family:Arial,sans-serif">
                                    <span style="color:#000000">Welcome to Pixtinfinity! At Pixtinfinity, we are dedicated to safeguarding your privacy. This Privacy Policy outlines how we collect, use, and disclose your personal information when you visit our website or use our services. By accessing or using our website, you agree to the terms outlined in this Privacy Policy.</span>
                                </span>
                            </span>
                        </p>
                    
                        <p>
                            <span style="font-size:13.999999999999998pt">
                                <span style="font-family:Arial,sans-serif">
                                    <span style="color:#000000">Definitions and Key Terms:</span>
                                </span>
                            </span>
                        </p>
                    
                        <p>
                            <span style="font-size:13.999999999999998pt">
                                <span style="font-family:Arial,sans-serif">
                                    <span style="color:#000000">To ensure clarity, the following terms are defined:</span>
                                </span>
                            </span>
                        </p>
                    
                        <ul>
                            <li style="list-style-type:disc">
                                <span style="font-size:13.999999999999998pt">
                                    <span style="font-family:Arial,sans-serif">
                                        <span style="color:#000000">
                                            <strong>Cookie:</strong>
                                        </span>
                                    </span>
                                </span>
                                <span style="font-size:13.999999999999998pt">
                                    <span style="font-family:Arial,sans-serif">
                                        <span style="color:#000000">
                                            A small piece of data stored on your device by your web browser, used to identify your browser and enhance your browsing experience.</span>
                                    </span>
                                </span>
                            </li>
                            <li style="list-style-type:disc">
                                <span style="font-size:13.999999999999998pt">
                                    <span style="font-family:Arial,sans-serif">
                                        <span style="color:#000000">
                                            <strong>Personal Data:</strong>
                                        </span>
                                    </span>
                                </span>
                                <span style="font-size:13.999999999999998pt">
                                    <span style="font-family:Arial,sans-serif">
                                        <span style="color:#000000">
                                            Any information that allows for the identification of an individual, either directly or indirectly.</span>
                                    </span>
                                </span>
                            </li>
                            <li style="list-style-type:disc">
                                <span style="font-size:13.999999999999998pt">
                                    <span style="font-family:Arial,sans-serif">
                                        <span style="color:#000000">Company: when this policy mentions &quot;Company&rdquo;, it refers to Pixtinfinity that is responsible for your information under this Privacy Policy.</span>
                                    </span>
                                </span>
                            </li>
                            <li style="list-style-type:disc">
                                <span style="font-size:13.999999999999998pt">
                                    <span style="font-family:Arial,sans-serif">
                                        <span style="color:#000000">
                                            <strong>Country:</strong>
                                        </span>
                                    </span>
                                </span>
                                <span style="font-size:13.999999999999998pt">
                                    <span style="font-family:Arial,sans-serif">
                                        <span style="color:#000000">where Pixtinfinity or the owners/founders of Pixtinfinity are based, in this case in Nigeria.</span>
                                    </span>
                                </span>
                            </li>
                            <li style="list-style-type:disc">
                                <span style="font-size:13.999999999999998pt">
                                    <span style="font-family:Arial,sans-serif">
                                        <span style="color:#000000">
                                            <strong>Customer:</strong>
                                        </span>
                                    </span>
                                </span>
                                <span style="font-size:13.999999999999998pt">
                                    <span style="font-family:Arial,sans-serif">
                                        <span style="color:#000000">
                                            refers to the company, organization c person that signs up to use the Pixtinfinity Service to manage the relationships with your consumers or service users.</span>
                                    </span>
                                </span>
                            </li>
                            <li style="list-style-type:disc">
                                <span style="font-size:13.999999999999998pt">
                                    <span style="font-family:Arial,sans-serif">
                                        <span style="color:#000000">Service: Refers to the services provided by Pixtinfinity, including our website and any associated features or functionalities.</span>
                                    </span>
                                </span>
                            </li>
                        </ul>
                    
                        <p>&nbsp;</p>
                    
                        <h2>
                            <strong>
                                <span style="font-size:16pt">
                                    <span style="font-family:Arial,sans-serif">
                                        <span style="color:#000000">Information We Collect:</span>
                                    </span>
                                </span>
                            </strong>
                        </h2>
                    
                        <p>
                            <span style="font-size:13.999999999999998pt">
                                <span style="font-family:Arial,sans-serif">
                                    <span style="color:#000000">At Pixtinfinity, we collect information from you when you visit our website, subscribe to our newsletter, respond to surveys, or interact with our content. The information we collect may include:</span>
                                </span>
                            </span>
                        </p>
                    
                        <ul>
                            <li style="list-style-type:disc">
                                <span style="font-size:13.999999999999998pt">
                                    <span style="font-family:Arial,sans-serif">
                                        <span style="color:#000000">Name/Username</span>
                                    </span>
                                </span>
                            </li>
                            <li style="list-style-type:disc">
                                <span style="font-size:13.999999999999998pt">
                                    <span style="font-family:Arial,sans-serif">
                                        <span style="color:#000000">Email Address</span>
                                    </span>
                                </span>
                            </li>
                            <li style="list-style-type:disc">
                                <span style="font-size:13.999999999999998pt">
                                    <span style="font-family:Arial,sans-serif">
                                        <span style="color:#000000">Any other information voluntarily provided by you</span>
                                    </span>
                                </span>
                            </li>
                        </ul>
                    
                        <p>&nbsp;</p>
                    
                        <h2>
                            <strong>
                                <span style="font-size:16pt">
                                    <span style="font-family:Arial,sans-serif">
                                        <span style="color:#000000">How We Use Your Information:</span>
                                    </span>
                                </span>
                            </strong>
                        </h2>
                    
                        <p>
                            <span style="font-size:13.999999999999998pt">
                                <span style="font-family:Arial,sans-serif">
                                    <span style="color:#000000">We utilize the information we collect for the following purposes:</span>
                                </span>
                            </span>
                        </p>
                    
                        <ul>
                            <li style="list-style-type:disc">
                                <span style="font-size:13.999999999999998pt">
                                    <span style="font-family:Arial,sans-serif">
                                        <span style="color:#000000">Personalizing your experience on our website</span>
                                    </span>
                                </span>
                            </li>
                            <li style="list-style-type:disc">
                                <span style="font-size:13.999999999999998pt">
                                    <span style="font-family:Arial,sans-serif">
                                        <span style="color:#000000">Improving our services and content offerings</span>
                                    </span>
                                </span>
                            </li>
                            <li style="list-style-type:disc">
                                <span style="font-size:13.999999999999998pt">
                                    <span style="font-family:Arial,sans-serif">
                                        <span style="color:#000000">Enhancing customer service and support</span>
                                    </span>
                                </span>
                            </li>
                            <li style="list-style-type:disc">
                                <span style="font-size:13.999999999999998pt">
                                    <span style="font-family:Arial,sans-serif">
                                        <span style="color:#000000">Administering contests, surveys, or promotions</span>
                                    </span>
                                </span>
                            </li>
                        </ul>
                    
                        <p>&nbsp;</p>
                    
                        <h2>
                            <strong>
                                <span style="font-size:16pt">
                                    <span style="font-family:Arial,sans-serif">
                                        <span style="color:#000000">Information Sharing:</span>
                                    </span>
                                </span>
                            </strong>
                        </h2>
                    
                        <p>
                            <span style="font-size:13.999999999999998pt">
                                <span style="font-family:Arial,sans-serif">
                                    <span style="color:#000000">We may share both personal and non-personal information with third parties, including advertisers, partners, and service providers, to improve our services and offer relevant content. Additionally, we may disclose information to comply with legal obligations or respond to legal requests.</span>
                                </span>
                            </span>
                        </p>
                    
                        <p>&nbsp;</p>
                    
                        <h2>
                            <strong>
                                <span style="font-size:16pt">
                                    <span style="font-family:Arial,sans-serif">
                                        <span style="color:#000000">Data Security:</span>
                                    </span>
                                </span>
                            </strong>
                        </h2>
                    
                        <p>
                            <span style="font-size:13.999999999999998pt">
                                <span style="font-family:Arial,sans-serif">
                                    <span style="color:#000000">Pixtinfinity employs various security measures to protect your personal information. We use encryption and secure servers to safeguard sensitive data. However, we cannot guarantee the absolute security of information transmitted to us.</span>
                                </span>
                            </span>
                        </p>
                    
                        <p>&nbsp;</p>
                    
                        <h2>
                            <strong>
                                <span style="font-size:16pt">
                                    <span style="font-family:Arial,sans-serif">
                                        <span style="color:#000000">Children&#39;s Privacy:</span>
                                    </span>
                                </span>
                            </strong>
                        </h2>
                    
                        <p>
                            <span style="font-size:13.999999999999998pt">
                                <span style="font-family:Arial,sans-serif">
                                    <span style="color:#000000">Pixtinfinity does not knowingly collect personal information from individuals under the age of 13. If you are a parent or guardian and believe your child has provided us with personal data, please contact us, and we will take appropriate steps to remove the information.</span>
                                </span>
                            </span>
                        </p>
                    
                        <p>&nbsp;</p>
                    
                        <h2>
                            <strong>
                                <span style="font-size:16pt">
                                    <span style="font-family:Arial,sans-serif">
                                        <span style="color:#000000">Additional Information:</span>
                                    </span>
                                </span>
                            </strong>
                        </h2>
                    
                        <h3>
                            <strong>
                                <span style="font-size:13.999999999999998pt">
                                    <span style="font-family:Arial,sans-serif">
                                        <span style="color:#434343">Cookies:</span>
                                    </span>
                                </span>
                            </strong>
                        </h3>
                    
                        <p>
                            <span style="font-size:13.999999999999998pt">
                                <span style="font-family:Arial,sans-serif">
                                    <span style="color:#000000">PixtInfinity may use cookies to enhance your browsing experience and personalize the content you see on our website. Cookies are small files stored on your device that allow us to recognize your browser and remember your preferences. You can choose to disable cookies in your browser settings, but please note that this may affect certain features or functionality of our website.</span>
                                </span>
                            </span>
                        </p>
                    
                        <h3>
                            <strong>
                                <span style="font-size:13.999999999999998pt">
                                    <span style="font-family:Arial,sans-serif">
                                        <span style="color:#434343">How Do We Protect Your Information?</span>
                                    </span>
                                </span>
                            </strong>
                        </h3>
                    
                        <p>
                            <span style="font-size:13.999999999999998pt">
                                <span style="font-family:Arial,sans-serif">
                                    <span style="color:#000000">We implement a variety of security measures to maintain the safety of your personal information when you place an order or enter, submit, you place an order or enter, submit, or access your personal information. We offer the use of a secure server. All supplied sensitive/credit information is transmitted via Secure Socket Layer (SSL) technology and then encrypted into our Payment gateway providers database only to be accessible by those authorized with special access rights to such systems, and are required to keep the information confidential.</span>
                                </span>
                            </span>
                        </p>
                    
                        <h3>
                            <strong>
                                <span style="font-size:13.999999999999998pt">
                                    <span style="font-family:Arial,sans-serif">
                                        <span style="color:#434343">Your Consent</span>
                                    </span>
                                </span>
                            </strong>
                        </h3>
                    
                        <p>
                            <span style="font-size:13.999999999999998pt">
                                <span style="font-family:Arial,sans-serif">
                                    <span style="color:#000000">By using our service, registering an account, or making a purchase, you consent to this Privacy Policy.</span>
                                </span>
                            </span>
                        </p>
                    
                        <p><br/>
                            &nbsp;</p>
                    
                        <h3>
                            <strong>
                                <span style="font-size:13.999999999999998pt">
                                    <span style="font-family:Arial,sans-serif">
                                        <span style="color:#434343">Login System:</span>
                                    </span>
                                </span>
                            </strong>
                        </h3>
                    
                        <p>
                            <span style="font-size:13.999999999999998pt">
                                <span style="font-family:Arial,sans-serif">
                                    <span style="color:#000000">In the future, PixtInfinity may integrate a login system to provide enhanced features and personalized experiences for our users. When this system is implemented, we will collect and store user information securely. Any data collected through the login system will be used solely for the purpose of providing our services and improving user experience.</span>
                                </span>
                            </span>
                        </p>
                    
                        <p>&nbsp;</p>
                    
                        <h3>
                            <strong>
                                <span style="font-size:13.999999999999998pt">
                                    <span style="font-family:Arial,sans-serif">
                                        <span style="color:#434343">Third-Party Links:</span>
                                    </span>
                                </span>
                            </strong>
                        </h3>
                    
                        <p>
                            <span style="font-size:13.999999999999998pt">
                                <span style="font-family:Arial,sans-serif">
                                    <span style="color:#000000">Our website may contain links to third-party websites or services not operated or controlled by PixtInfinity. We are not responsible for the content, privacy practices, or security of these third-party sites. We encourage you to review the privacy policies of any third-party websites you visit.</span>
                                </span>
                            </span>
                        </p>
                    
                        <p>&nbsp;</p>
                    
                        <h3>
                            <strong>
                                <span style="font-size:13.999999999999998pt">
                                    <span style="font-family:Arial,sans-serif">
                                        <span style="color:#434343">Data Retention:</span>
                                    </span>
                                </span>
                            </strong>
                        </h3>
                    
                        <p>
                            <span style="font-size:13.999999999999998pt">
                                <span style="font-family:Arial,sans-serif">
                                    <span style="color:#000000">Pixtinfinity will retain your personal information only for as long as necessary to fulfill the purposes outlined in this Privacy Policy, unless a longer retention period is required or permitted by law. When we no longer need your information, we will securely delete or anonymize it to prevent identification.</span>
                                </span>
                            </span>
                        </p>
                    
                        <p>&nbsp;</p>
                    
                        <h3>
                            <strong>
                                <span style="font-size:13.999999999999998pt">
                                    <span style="font-family:Arial,sans-serif">
                                        <span style="color:#434343">International Users:</span>
                                    </span>
                                </span>
                            </strong>
                        </h3>
                    
                        <p>
                            <span style="font-size:13.999999999999998pt">
                                <span style="font-family:Arial,sans-serif">
                                    <span style="color:#000000">If you are accessing PixtInfinity from outside Nigeria, please be aware that your information may be transferred to, stored, and processed in Nigeria, where our servers and databases are located. By using our website, you consent to the transfer of your data to Nigeria and other jurisdictions as described in this Privacy Policy.</span>
                                </span>
                            </span>
                        </p>
                    
                        <p>&nbsp;</p>
                    
                        <h2>
                            <strong>
                                <span style="font-size:16pt">
                                    <span style="font-family:Arial,sans-serif">
                                        <span style="color:#000000">Governing Law:</span>
                                    </span>
                                </span>
                            </strong>
                        </h2>
                    
                        <p>
                            <span style="font-size:13.999999999999998pt">
                                <span style="font-family:Arial,sans-serif">
                                    <span style="color:#000000">This Privacy Policy and your use of PixtInfinity&#39;s services are governed by the laws of Nigeria, without regard to its conflict of law provisions. Any disputes arising from this Privacy Policy will be subject to the exclusive jurisdiction of the courts in Nigeria.</span>
                                </span>
                            </span>
                        </p>
                    
                        <p>
                            <span style="font-size:13.999999999999998pt">
                                <span style="font-family:Arial,sans-serif">
                                    <span style="color:#000000">Thank you for taking the time to review our Privacy Policy. If you have any further questions or concerns, please don&#39;t hesitate to contact us.</span>
                                </span>
                            </span>
                        </p>
                    
                        <p>&nbsp;</p>
                    
                        <h2>
                            <strong>
                                <span style="font-size:16pt">
                                    <span style="font-family:Arial,sans-serif">
                                        <span style="color:#000000">Changes to Privacy Policy:</span>
                                    </span>
                                </span>
                            </strong>
                        </h2>
                    
                        <p>
                            <span style="font-size:13.999999999999998pt">
                                <span style="font-family:Arial,sans-serif">
                                    <span style="color:#000000">We reserve the right to update or modify this Privacy Policy at any time. Any changes will be reflected on this page, along with the date of modification.</span>
                                </span>
                            </span>
                        </p>
                    
                        <p>&nbsp;</p>
                    
                        <h2>
                            <strong>
                                <span style="font-size:16pt">
                                    <span style="font-family:Arial,sans-serif">
                                        <span style="color:#000000">Information about General Data Protection Regulation (GDPR)</span>
                                    </span>
                                </span>
                            </strong>
                        </h2>
                    
                        <p>
                            <span style="font-size:13.999999999999998pt">
                                <span style="font-family:Arial,sans-serif">
                                    <span style="color:#000000">We may be collecting and using information from you if you are from the European Economic Area (EEA), and in this section of our Privacy Policy we are going to explain exactly how and why this data is collected, and how we maintain this data under protection from being replicated or used in the wrong way.</span>
                                </span>
                            </span>
                        </p>
                    
                        <h2>
                            <strong>
                                <span style="font-size:16pt">
                                    <span style="font-family:Arial,sans-serif">
                                        <span style="color:#000000">What is GDPR?</span>
                                    </span>
                                </span>
                            </strong>
                        </h2>
                    
                        <p>
                            <span style="font-size:13.999999999999998pt">
                                <span style="font-family:Arial,sans-serif">
                                    <span style="color:#000000">GDPR is an EU-wide privacy and data protection law that regulates how EU residents&#39; data is protected by companies and enhances the control the EU residents have over their personal data.</span>
                                </span>
                            </span>
                        </p>
                    
                        <h2>
                            <strong>
                                <span style="font-size:16pt">
                                    <span style="font-family:Arial,sans-serif">
                                        <span style="color:#000000">Why GDPR is Important?</span>
                                    </span>
                                </span>
                            </strong>
                        </h2>
                    
                        <p>
                            <span style="font-size:13.999999999999998pt">
                                <span style="font-family:Arial,sans-serif">
                                    <span style="color:#000000">GDPR adds some new requirements regarding how companies should protect individuals&#39; personal data that they collect and process. It also raises the stakes for compliance by increasing enforcement and imposing greater fines for breach. Beyond these facts it&#39;s simply the right thing to do. At Help Scout we strongly believe that your data privacy is very important and we already have solid security and privacy practices in place that go beyond the requirements of this new regulation.</span>
                                </span>
                            </span>
                        </p>
                    
                        <p><br/>
                            &nbsp;</p>
                    
                        <h2>
                            <strong>
                                <span style="font-size:16pt">
                                    <span style="font-family:Arial,sans-serif">
                                        <span style="color:#000000">Contact Us:</span>
                                    </span>
                                </span>
                            </strong>
                        </h2>
                    
                        <p>
                            <span style="font-size:13.999999999999998pt">
                                <span style="font-family:Arial,sans-serif">
                                    <span style="color:#000000">If you have any questions or concerns regarding this Privacy Policy or our data practices, please feel free to contact us:</span>
                                </span>
                            </span>
                        </p>
                    
                        <ul>
                            <li style="list-style-type:disc">
                                <span style="font-size:13.999999999999998pt">
                                    <span style="font-family:Arial,sans-serif">
                                        <span style="color:#000000">Email:
                                            <a href="mailto:support@pixtinfinity.com">support@pixtinfinity.com</a>
                                        </span>
                                    </span>
                                </span>
                            </li>
                            <li style="list-style-type:disc">
                                <span style="font-size:13.999999999999998pt">
                                    <span style="font-family:Arial,sans-serif">
                                        <span style="color:#000000">Phone Number:
                                            <a href="tel:+2348131551969">+2348131551969</a>
                                        </span>
                                    </span>
                                </span>
                            </li>
                        </ul>
                    
                        <p>
                            <span style="font-size:13.999999999999998pt">
                                <span style="font-family:Arial,sans-serif">
                                    <span style="color:#000000">Thank you for trusting Pixtinfinity with your privacy.</span>
                                </span>
                            </span>
                        </p>
                    
                        <p>&nbsp;</p>
                    
                    </div>
				</section>
				<!-- Begin Footer
					================================================== -->
				<footer class="footer"></footer>
				<!-- End Footer
					================================================== -->
			</div>
		</div>

        <!-- Google tag (gtag.js) -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-CJNWYEMMWG"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'G-CJNWYEMMWG');
		</script>

		<script type="module" src="assets/js/app.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
		<script src="assets/js/ie10-viewport-bug-workaround.js"></script>
		<script src="assets/js/masonry.pkgd.min.js"></script>
		<script src="assets/js/theme.js"></script>


	</body>
</html>